@import "../../vars.css";

.container {
    display: flex;
    flex-direction: column; /* Stack items in projects page vertically */
    justify-content: center; /* Center content vertically */
    align-items: center; /* Center content horizontally */
    height: 100%;
    width: 100%;
    scroll-snap-align: start;
    background-color: var(--color-cream);
}

.title {
    font-family: 'playfair display', serif;
    font-size: 40px;
    text-align: center;
    color: var(--color-dark-brown);
    padding-top: 20px;
}

.projects {
    display: flex; 
    flex-direction: row; 
    align-items: center;
    justify-content: center;
    width: 70%;
    gap: 30px; /* space between projectCards */
    padding: 20px; 
}

@media screen and (width <= 900px) {
    .container {
        padding: 20px;
    }

    .title {
        font-size: 32px;
    }

    .projects {
        flex-direction: column;
        gap: 10px;
    }
}


@media screen and (height <= 800px) {
    .container {
        min-height: 900px;
    }
}