@import '../../vars.css';

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* 100% of viewport height */
    width: 100vw; /* 100% of viewport width */
    scroll-snap-align: start;
    background-color: var(--color-cream);

}
.title {
    font-size: clamp(1.5rem, 2vw, 2.5rem);
    font-weight: bold;
    color: var(--color-dark-green);
    text-align: center;
}
.box {
    position: center;
    width: 100%;
    max-width: 600px;
    padding: 20px;
}
.boxTitle {
    position: center;
    font-size: clamp(1.5rem, 1vw, 1rem);
    color: var(--color-dark-green);
}
.boxSubtitle {
    position: center;
    font-size: clamp(1rem, 1vw, 2rem);
    color: var(--color-medium-grey);
}
.boxItem {
    display: flex;
    flex-wrap: wrap;
    color: var(--color-dark-grey);
    justify-content: center;
    
}
.boxItem ul {
    display: flex; /* by default flex-direction: row */
    padding: 0;
    margin: 0;
}
.item {
    display: flex;
    list-style-type: none; /* Remove bullet points */
    background-color: var(--color-yellow);
    border-radius: 100px;
    padding: 2px 10px;
    margin: 5px;
}

.sunflowerImg {
    width: 20%;
}
@media screen and (max-width: 830px) {
    .box {
        width: 90%; /* Adjust width for smaller screens */
    }

    .boxTitle {
        font-size: clamp(1.2rem, 1.8vw, 2rem); /* Adjust font size for smaller screens */
    }

    .boxSubtitle {
        font-size: clamp(0.9rem, 1.3vw, 1.8rem); /* Adjust font size for smaller screens */
    }

    .boxItem {
        margin-left: 5px; /* Adjust margin for smaller screens */
    }
    .sunflowerImg {
        width: 30%; /* Adjust image size for smaller screens */
    }
}

@media screen and (max-width: 480px) {
    .container {
        padding: 10px; /* Reduce padding for very small screens */
    }

    .title {
        font-size: 30px; /* Adjust title font size for very small screens */
    }

    .box {
        width: 100%; /* Ensure box takes full width within container */
        padding: 10px; /* Reduce padding for very small screens */
    }

    .sunflowerImg {
        display:none; /* Adjust image size for very small screens */
    }
}

