@import "../../vars.css";

.navbar {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 61px;
    z-index: 2; /* above everything else */
    margin: 0 10%;
}

.title {
    font-size: 15px;
    font-weight: 600;
    text-decoration: none;
    color: var(--color-dark-grey);
}

.menu {
    display: flex;
}

.menuItems {
    display: flex;
    gap: 47px;
    list-style-type: none;
}

.menuItems a {
    font-size: 25px;
    color: var(--color-dark-grey);
    text-decoration: none;
    color: var(--color-dark-grey);
}


/* make website responsive using media queries - different styles based on page width */
/* 830px is the width of the page where the menu button appears */
@media screen and (max-width:830px) {
    .navbar {
        flex-direction: column;
        align-items: center;
    }
    .sidebar {
        display: none;
    }
    .menu {
        position: absolute; /* menu above everything else */
        right: 0; /* 0px from right of page */
        margin-right: 10%; /* 10% from right of page */
        flex-direction: column; /* menu items in column */
        align-items: flex-end; /* align right */
        gap: 11px; /* gap between menu items */
        z-index: 3;
    }
    .menuItems {
        display: none; /* hide menu items */
        flex-direction: column; /* menu items in column */
        align-items: center; 
        gap: 13px; /* gap between menu items */
        border-radius: 10px; /* rounded corners */
        background-color: rgb(247,246,243); /* go back to value if not supported by browser */
        padding: 20px 20px;
        box-shadow: 0 0 6px 0 rgb(204,204,204);
    }
    
}

