@import '../../vars.css';

.container {
    position: relative; /* relative to parent */
    display: flex; /* flexbox */
    align-items: center;    
    justify-content: center; /* center content */
    z-index: 1; /* above everything else */
    height: 100vh; /* 100% of viewport height */
    width: 100vw; /* 100% of viewport width */
    scroll-snap-align: start; /* snap to start */
    background-color: var(--color-white);
}

.content {
    display: flex; /* flexbox */
    flex-direction: column; /* column */
    align-items: flex-start; /* align left */
    color: var(--color-text); /* text color */
    z-index: 1; /* above everything else */
}

.title {
    font-size: 72px;
    font-weight: 900;
    font-family: var(--outfit-bold);
    padding-right: 40px;
    color: var(--color-dark-grey);
}

.description {
    font-size: 20px;
    font-family: var(--outfit-bold);
    margin-bottom: 15px;
    color: var(--color-dark-grey);
}

.headerImg {
    width: 20%; /* Set the width of the image to 100% */
    height: auto; /* Maintain aspect ratio */
}

.button {
    text-decoration: none; /* no underline */
    border-radius: 100px; /* round corners */
    background-color: var(--color-light-grey); /* dark grey background */
    color: var(--color-text); /* dark grey text */
    padding: 10px 20px; /* padding */
    margin-right: 10px; /* 10px from right */
}

.button:hover {
    background-color: var(--color-dark-grey); /* dark background */
    color: var(--color-white); /* white text */
}

.contact {
    margin-top: 10px; /* 20px from top */
    margin-right: 20px;

}


@media screen and (max-width: 830px) {
    .container {
      flex-direction: column-reverse;
    }
  
    .content {
      align-items: center;
    }
  }