@import '../../vars.css';

.container {
    position: relative; /* relative to parent */
    display: flex; /* flexbox */
    flex-direction: row; /* make image beside text (optional as it is the default option for flexbox) */
    align-items: center; /* center content along cross axis */
    justify-content: center; /* center content along main axis */
    z-index: 1; /* above everything else */
    height: 100vh; /* 100% of viewport height */
    width: 100vw; /* 100% of viewport width */
    scroll-snap-align: start; /* snap to start */
    background-color: var(--color-white);
}

.content {
    display: flex; /* flexbox */
    flex-direction: column; /* make text in a column */
    align-items: flex-start; /* align text to the left */
    color: var(--color-dark-grey); /* text color */
    z-index: 1; /* above everything else */
}

.title {
    font-family: 'playfair display', serif; 
    font-size: 72px;
    font-weight: 900;
    padding-right: 40px;
    color: var(--color-dark-grey);
}

.description {
    font-size: 20px;
    margin-bottom: 15px;
    color: var(--color-medium-grey);
}

.headerImg {
    width: 20%; /* Set the width of the image to 100% */
    height: auto; /* Maintain aspect ratio */
}

.button {
    text-decoration: none; /* no underline */
    border-radius: 100px; /* round corners */
    background-color: var(--color-light-grey); /* light grey background */
    color: var(--color-medium-grey); /* medium grey text */
    padding: 10px 20px; /* padding */
    margin-right: 10px; /* 10px from right */
}

.button:hover {
    background-color: var(--color-dark-grey); /* dark background */
    color: var(--color-white); /* white text */
}

.contact {
    margin-top: 10px; /* 20px from top */
    margin-right: 20px;

}


@media screen and (max-width: 830px) {
    .container {
      justify-content: center;
    }
    .content {
      align-items: center;
    }
    .title {
      font-size: 40px;
      padding-right: 0;
      text-align: center;
    }
    .headerImg {
      display: none;
    }
}

@media screen and (height <= 600px) {
    .container {
        min-height: 600px;
    }
}