@import "./vars.css";

@font-face {
  font-family: "outfit";
  src: url(/fonts/Outfit-Regular.ttf);
}


.App {
  background-color: var(--color-bg);
  width: 100vw;
  height: 100vh;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  overflow-x: hidden;
}

@media screen and (max-width: 830px) {
  .App {
    scroll-snap-type: none; /* Disable scroll snapping for small screens */
  }
}