* {
    /* use * to target every element of webpage */
    box-sizing: border-box; /* use border for object's width and height */
    margin: 0;  /* remove margin */
    padding: 0; /* remove padding */
    font-family: "playfair-medium", sans-serif, Arial; /* set font */
}

html {
    scroll-behavior: smooth;
}