@import "../../vars.css";

.container {
    background-color: var(--color-light-yellow);
    display: flex;
    flex-direction: column; /* Stack items in projects page vertically */
    justify-content: center; /* Center content vertically */
    align-items: center; /* Center content horizontally */
}

.title {
    font-size: 35px;
    text-align: center;
    color: var(--color-dark-brown);
    padding: 10px; /* Add padding (space inside title) to title */
}

.projects {
    display: flex; 
    flex-direction: row; 
    align-items: center;
    justify-content: center;
    gap: 20px; /* Add space between projectCards */
    width: 70%;
    max-height: calc(100vh - 40px);
    padding: 20px; 
    display: grid; /* Use grid layout */
    grid-template-columns: repeat(3, 1fr); /* 3 equal columns */
    gap: 20px; /* Space between grid items */
    
}

@media screen and (max-width: 1200px) {
    .title {
        font-size: 30px; /* Decrease font size for medium screens */
    }
}

@media screen and (max-width: 830px) {
    .container {
        padding: 20px;
    }

    .title {
        font-size: 25px; /* Decrease font size for smaller screens */
    }

    .projects {
        grid-template-columns: 1fr; /* Change to 1 column on small screens */
    }
}

@media screen and (max-width: 500px) {
    .title {
        font-size: 20px; /* Further decrease font size for very small screens */
    }
}