@import "../../vars.css";

.container {
    background-color: var(--color-light-yellow);
    display: flex;
    flex-direction: column; /* Stack items in projects page vertically */
    justify-content: center; /* Center content vertically */
    align-items: center; /* Center content horizontally */
    height: 100vh; /* 100% of viewport height */
    width: 100vw; /* 100% of viewport width */
    scroll-snap-align: start;
    padding: 20px;
}

.projects {
    display: grid; /* Use grid layout */
    grid-template-columns: repeat(3, 1fr); /* 3 equal columns */
    gap: 10px; /* Add space between cards */
    width: 80%;
    max-height: calc(100vh - 40px);
    justify-items: center; /* Center cards within each grid cell */
    align-items: center; /* Center cards vertically */
}

@media screen and (max-width: 1100px) {
    .projects {
        grid-template-columns: 1fr; /* 1 column */
        gap: 20px; /* Maintain space between cards */
        width: 90%; /* Adjust width for smaller screens */
    }
}
